!!! 5
%html
  %head
    %title Bootstrap 101 Template
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Bootstra
    %link{:href => "css/bootstrap.min.css", :media => "screen", :rel => "stylesheet"}/
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      %script{:src => "../../assets/js/html5shiv.js"}
      %script{:src => "../../assets/js/respond.min.js"}
  %body
    .container
      %h1 Hello, world!
      / jQuery (necessary for Bootstrap's JavaScript plugins)
      %script{:src => "//code.jquery.com/jquery.js"}
      / Include all compiled plugins (below), or include individual files as needed
      %script{:src => "js/bootstrap.min.js"}
